.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  /* Hace que la imagen no se mueva al hacer scroll */
  width: 100%;
  max-width: 600px; /* Aseguramos que el contenedor no sea demasiado pequeño */
  margin: auto;
  min-height: 100vh; /* Asegura que la pantalla ocupe toda la altura */
}

.titulo {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  color: white;
}
