body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://wallpapers.com/images/hd/3440-x-1440-4k-e74fuqplz54vakcb.jpg?raw=true'); /* Reemplaza con tu URL de imagen */
  background-size: cover; /* Hace que la imagen ocupe toda la pantalla */
  background-position: center; /* Centra la imagen */
  background-attachment: fixed; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
